html {
  padding: 0 var(--margin);
  max-width: 96rem;
  height: 100%;
  margin: 0 auto;
}

body {
  display: none;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  gap: var(--spacing-medium);
}

body.appear {
  display: flex;
}

header {
  height: 7.5rem;
}

main {
  flex-grow: 1;
}